/********************************************
http://meyerweb.com/eric/tools/css/reset/ 

v2.0 | 20110126
License: none (public domain)
********************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/********************************************
Base colors
********************************************/
:root {
	--primary-100:#0D6E6E;
    --primary-200:#4a9d9c;
    --primary-300:#afffff;
    --accent-100:#FF3D3D;
    --accent-200:#ffe0c8;
    --text-100:#FFFFFF;
    --text-200:#e0e0e0;
    --bg-100:#0D1F2D;
    --bg-200:#1d2e3d;
    --bg-300:#354656;   
}

/********************************************
Basic configuration for the body and footer
********************************************/
body {
	margin: 0 auto;
	padding: 30px;
    font-family: 'Rubik', sans-serif;
	background: var(--bg-100);
	background: -webkit-linear-gradient(to top, var(--bg-300), var(--bg-100));
	background: linear-gradient(to top, var(--bg-300), var(--bg-100));
}

footer {
	color: var(--text-100);
}

/********************************************
Global configuration styles
********************************************/
h1 {
	font-size: 1.8rem;
	font-weight: 600;
	color: var(--text-100);
	margin-bottom: 20px;
}

h2 {
	font-size: 1.5rem;
	font-weight: 500;
	color: var(--text-100);
}

h3 {
  	font-size: 1.2rem;
	font-weight: 400;
	color: var(--text-100);
}

p, li, a, summary, details {
  	font-size: 1rem;
	text-decoration: none;
	color: var(--text-200);
	font-weight: lighter;
}

/********************************************
Layout: sidebar (left) + section (right)
********************************************/
main {
	display: flex;
	min-height: 100vh;
	padding: 20px 0px;
	margin-top: 10px;
}

section {
	flex: 1;
	box-sizing: border-box;
	margin-left: 10px;
}

aside {
	flex: 0 0 300px;
	box-sizing: border-box;
	border-right: 1px solid var(--accent-100);
}
aside nav a:hover { 
	color: var(--primary-300);
}
aside li {
	margin: 10px 0;
}
aside h3 {
	margin-bottom: 20px;
}

/********************************************
Layout: section (right)
********************************************/
